%div
  %label
    Name:
    %input{:type => 'text', 'ng-model' => 'sample.name', :id => 'Name'}
%div
  %label
    Description:
    %input{:type => 'text', 'ng-model' => 'sample.description', :id => 'Description'}
%div
  %input.btn.btn-primary{:type => 'submit', :value =>'Save'}
